* {
    padding: 0;
    margin: 0
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgba(131, 131, 131, .75);
    padding: 5px;
}

.scores {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 250px;
}

.score {
    text-align: center;
    margin: 0 10px;
    min-width: 90px;
}

.board {
    margin: 20px;
}

#computer, #player {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 270px;
    margin: 0 10px;
    border-radius: 10px;
}
.winner {
    background-color: lightgreen;
    border: 1px solid green;
}

.loser {
    background-color: lightcoral;
    border: 1px solid red;
}

.tie {
    background-color: lightskyblue;
    border: 1px solid blue;
}

img {
    width: 200px;
}

.next-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button {
    min-height: 120px;
    background-color:#f2f2f2;
    margin: 2px;
    border: 1px solid rgba(131, 131, 131, .75);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    background-color: rgba(0,0,0,0.25);
}

img.paper, img.scissors, img.rock {
    width: 100px;
}

p.paper, p.scissors, p.rock {
    text-align: center;
    padding-bottom: 5px;
}

.history-names {
    display:flex;
    justify-content: space-evenly;
    min-width:265px;
}

#history h3 {
    text-align: center;
}

#history h4 {
    display: inline-block;
    padding: 2px;
    text-align: center;
}

.historic-entry {
    text-align: center;
}

.historic {
    display: inline-block;
}

.record {
    margin: 0 16px;
    width: 61px;
    text-align: center;
}

.historic img {
    width: 20px;
    padding: 0 30px;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: lightcoral;
}

.tie {
    background-color: lightskyblue;
}

@media screen and (max-width: 500px) {
    img {
        max-width: 23%;
    }
}

@media screen and (max-width:500px) {
    #computer, #player {
        flex-direction: row;
        justify-content: space-around;
        height: unset;
        padding: 0 5px;
    }
}

@media screen and (max-height: 500px) {
    #computer, #player {
        height: unset;
    }
}

@media screen and (max-height: 500px) {
    img {
        max-width: 75px;
    }
}

@media screen and (max-height: 500px) {
    button p {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    button {
        min-height: unset;
        height: 100px;
    }
}